<!-- src/app/app.component.html -->
<h1>
  {{title}}
</h1>

<!--top-Header-menu-->
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Stock Summary</a></li>
  <li role="presentation"><a href="#">Add New</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<hr>
<h2>Stocks</h2>
<ul>
  <li>No stocks yet!</li><button type="button" class="btn btn-lg btn-info" (click)="getStockPrices()">Get Stocks</button>
  <li *ngFor="let stock of stockPrices">
    {{stock.symbol}}: USD {{stock.price}}
  </li>
</ul>

<br>
<hr>



<div class="row-fluid">
  <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Stock Symbol</th>
                  <th>Price</th>
                  <th>Bought At</th>
                  <th>Quantity</th>
                  <th>Total Value</th>
                  <th>Current Trend</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX" *ngFor="let stock of stockPrices" [@trending]="stock.trend">
                  <td>{{stock.symbol}}</td>
                  <td>USD {{stock.price}}</td>
                  <td>{{stock.bought_price}}</td>
                  <td class="center">{{stock.quantity}}</td>
                  <td>{{stock.total_value}}</td>
                  <td>{{stock.trend}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
</div>
